* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}
p {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
}

.ant-input {
  height: 32px;
  border-radius: 3px;
}
.ant-input-outlined:hover {
  border-color: grey;
  border-radius: 3px;
}
.ant-input-outlined {
  border-color: grey;
}
.ant-input-outlined:focus {
  border-color: gray;
  box-shadow: none;
}

.primary {
  padding: 10px 10px;
  background-color: #5ddb78;
}
._primary {
  padding: 10px 10px;
  border-color: transparent;
  color: red;
  font-weight: 500;
  border: 1px solid rgba(128, 128, 128, 0.173);
}
.ant-btn-primary {
  background-color: #5ddb78 !important;
}
.ant-btn-primary:active {
  background-color: #5ddb78 !important;
}
.ant-btn-default:active {
  background-color: white !important;
  color: red !important;
  border-color: rgba(128, 128, 128, 0.321) !important;
}
.ant-btn-default:hover {
  background-color: white !important;
  color: red !important;
  border-color: rgba(128, 128, 128, 0.321) !important;
}